.box {
    width: 400px;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
}
.list-car {
    width: 60px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.09);
    padding: 10px;
}
.car-item {
    display: flex;
    justify-content: space-between;
}
.car-item + .car-item {
    margin-top: 10px;
}